* {
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
#logo{
    padding-top: 10px;
    padding-left: 20px;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(img/omkarbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.headertext{
    padding-left: 50px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: left ;
}
nav i{
    position: absolute;
    color: transparent;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    position: relative;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    background-color: orange;
    color: white;
    font-size: 13px;
    cursor: pointer;

}
nav i {
    float: right;
    visibility: hidden;
}

nav ul li a:hover{
    transition: background 2s, transform 2s;

}

.headertext{
    margin-top: 15%;
    font-size: 20px;

}

.headertext h2{
    font-size: 50px;
    margin-top: 5%;
}

.headertext button{
    font-family: Copperplate, Papyrus, fantasy;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 2rem;
    outline:none;
    border: none;
    background-color: orange;
    color: white;
    font-size: medium;
    cursor: pointer;
}

span{
    color: orange;
    font-family: Copperplate, Papyrus, fantasy;
}

/* About section */
#about span{
    font-family: sans-serif; 
}
#about{
    padding: 80px 0;
    background: #121212;
    color:white;
}

#about img:hover{
    transform: translatey(-10px);
}

.row{
    display: flex;
    flex-wrap: right;
    justify-content: center;
    align-items: center;
}

.row img{
    width: 20rem;
}

.aboutcol1{
    flex-basis: 35%;
}

.aboutcol1 img{
    width: 20rem;
    border-radius:15px; 
}

.aboutcol2{
    font-size: 28px;
    flex-basis: 70%;
    padding-left: 20px;
}

.subtitle{
    font-size: 50px;
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: 550;
    color: orange;
    margin-top: 2rem ;
    margin-bottom: 2rem;
    border-bottom: orange solid 1px;
}

.tabtitle{
    display: flex;
    margin: 20px 0 40px;
}

.tablink{
    font-family: Copperplate, Papyrus, fantasy;
    color: orange;
    margin-right:50px;
    font-size: 28px;
    font-weight: 550px;
    cursor: pointer;
    position:relative;
}

.tablink::after{
    content: '';
    width: 0;
    height: 3px;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tablink.activelink::after{
    width:50%;
}

.tabcontents{
    list-style: none;
    margin: 10px 0;
}

.tabcontents ul li span{
    color: orange;
    font-size: 28px;
}

.tabcontents{
    display: none;
}

.tabcontents.activetab{
    display: block;
}

/* Services */

#services{
    padding: 30px 0;
    background: #121212;
}

.serviceslist{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.serviceslist div{
    background: rgb(124, 114, 92);
    padding: 50px;
    font-size: 18px;
    font-weight: 350px;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;

}

.serviceslist div h2{
    font-size: 30px;
    font-weight: 300px;
    margin-bottom: 15px;
}

.serviceslist div a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin-top: 20px;
    display: inline;
}

.serviceslist div:hover{
    background: orange;
    transform: translateY(-10px);

}

/* Portfolio */
#portfolio{
    padding: 50px 0;
    background: #121212;
    color: white;
}

#hacker{
    height: 50px;
    width: 50px;
}

/* contact */

.container{
    padding:50px;
    background: #121212;
}
.contactleft{
    flex-basis: 35%;
    display:inline;
}

.contactleft p{
    margin-top: 30px;
    color: white;
}

.contractright{
    flex-basis: 60%;
    
}

form input , form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: rgb(124, 114, 92);
    padding:15px;
    margin: 15px 0;
    color: orange;
    font-size: 18px;
    border-radius: 6px;
}

form ::placeholder{
    color: orange;
}

.row1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row1 .contactleft i{
    margin-right: 15px;
    font-size: 25px;
}

.contactright button{
    padding:1rem 2rem 1rem 2rem;
    border-radius: 2rem;
    outline:none;
    border: none;
    background-color: orange;
    color: white;
    font-size: medium;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}



.socialicon a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: white;
    display: inline-block;
}

.socialicon a:hover{
    color: orange;
    transform: translateY(-5px)
}

.shlok{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: gray;
    font-weight: 300;
    font-size: medium;
    color: orange;
}

/* for smalll screens */

nav .fa-duotone , nav .fa-regular {
    display: none;
}

@media only screen and (max-width: 600px){
    header{
        background-image: url(img/omkarbgsmall.jpg);
    }
    .headertext{
        margin-top: 100%;
        font-size: 16px;
    }
    .headertext h1{
        font-size: 30px;
        
    }
    nav .fa-solid , nav .fa-regular{
        display: block;
        font-size: 25px;
    }
    nav i{
        visibility: visible;
        position: relative;
        color: orange;
        right: 20px;
    } 
    nav ul{
        background: orange;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        position: absolute;
        font-weight: 100;
        z-index: 2;
        transition: right 0.5;
    }
    nav ul li{
        display: block;
        margin: 25px ;
    }

    nav ul .fa-regular{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer ;
    }

    .subtitle{
        font-size: 40px;
    }
    .aboutcol1 , .aboutcol2{
        flex-basis: 100%;
    }

    .aboutcol1{
        margin-bottom: 30px;
    }

    .aboutcol2{
        font-size: 14px;
    }

    .tablink{
        font-size: 16px;
        margin-right: 20px;
    }

    .contactleft , .contactright{
        flex-basis: 100%;
    }

}

#msg{
    margin-top: -40px;
}